*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
        min-height: 100%;
        /* background-image: url(../Images/the-blowup-K6fYXynxZYY-unsplash.jpg); */
        background-size: cover;
        background-attachment: fixed;
        z-index: -1;
        height: 200%;
    }

:root{
    --nav-background:rgba(0,0,0,.2);
}

header{
    min-height: 10%;
    max-height: 20%; ;
    background-color: var(--nav-background);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

img{
    margin: 10px;
}

nav {
    position: absolute;
    background-color: var(--nav-background);
    width: 100%;
    top:100%;   
    display: none;
}

nav ul{
    margin-left:10px;
    list-style-type: none;
}

nav li{
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    padding: 5px;
    position: relative;
}

nav li a{
    text-decoration: none;
    color:white;
}

nav li:hover{
    background-color:rgba(250,250,250,.1);
    border-radius: 5px;
}

.nav-toggle:checked ~ nav{
    display: block;
}

.nav-toggle{
    display: none;
}

.logo{
    font-size: large;
    font-weight: 600;
    margin-left: 10px;
}
.nav-label-toggle{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 30px;
}


.nav-label-toggle span{
    background-color: black;
    height: 5px;
    width: 100%;
    margin: 2px 0;
    border-radius: 5px;
}

.about,.committee,.register{
    position: relative;
}

nav li ul{
    margin-top: 10px;
    display: none;
}

.about-toggle:checked ~ .about,.committee-toggle:checked ~ .committee,
.register-toggle:checked ~ .register{
    display: block;
}

nav li input{
    display: none;
}

nav li label{
    position: absolute;
    right: 0;
}

@media (min-width:768px){
    .nav-label-toggle{
        display: none;
    }

    nav{
      display: inline;
      position: static;
      width: auto;
      background-color: transparent;
    }

    nav ul{
        display: flex;
        margin-right: 3rem;
    }

    nav li{
        margin: 5px;
        position: relative;
    }
    nav li label{
        display: none;
    }

    nav li ul{
        display:none;
        left: 0;
    }
    nav li ul li{
        width:max-content;
    }

    nav .drop:hover ul{
        display: block;
    }

    .about,.committee,.register{
        position: absolute;
        background-color: rgb(0,0,0,.2);
    }
}