.parent-box{
    height:fit-content;
    padding: 4rem;
    background-color: rgb(240,240,240); 
}

.msg{   
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.msg-sub-box{
   height: fit-content;
   padding: 2rem; 
}

.letter-image{
    width: 17rem;
    height: 14rem;
    float: right;
    padding-left: 1rem;
}
.members{
    padding: 3rem 3rem 12rem 12rem;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: auto auto;
    grid-row-gap: 6rem;
    grid-column-gap: 6rem;
}

.member-image{
   width: 28rem;
   height: 25rem;
}

.name-box{
    margin-bottom:2rem;
    font-size: 40px;
    font-weight: bolder;
}

.member-info-box p{
    width: 28rem;
}

h2{
    padding: 1rem;
    border-bottom: 1px solid black;
    font-size: 36px;
}

