.parent-box{
    height:fit-content;
    padding: 1rem;
    background-color: rgb(240,240,240); 
}

.msg{   
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.msg-sub-box{
   height: fit-content;
   padding: 1rem; 
}

.letter-image{
    width: 17rem;
    height: 14rem;
    float: right;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.members{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
@media(max-width:640px){
    .parent-box{
        padding: 0;
    }
}

.member-image{
  min-width: 10rem;
   height: 13rem;
}

.name-box{
    margin-bottom:2rem;
    font-size: 40px;
    font-weight: bolder;
}
.member-info-box p{
    min-width:inherit;
}
.member-info-box{
    min-width: 3rem;
    max-width: 20rem;
    border: 2px solid red;
    margin: 10px;
    
}

h2{
    padding: 1rem;
    border-bottom: 1px solid black;
    font-size: 36px;
}

